<h1>Edit User#new</h1>

<%= form_for @user do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :gender %>
  <%= f.text_field :gender %>

  <%= f.label :alive %>
  <%= f.check_box :alive %>

  <%= f.submit %>
<% end %>
